.side-navbar {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-navbar h3 {
  margin-bottom: 15px;
}

.filter-section {
  margin-bottom: 20px;
}

.side-navbar label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.side-navbar select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.side-navbar select:hover,
.side-navbar select:focus {
  border-color: #009688;
  outline: none;
}
